

/*--------------------------------------------------------------------------------- CSS  VADEMÉCUM ------------------------------------------------------*/


/************ FONTS ***********/
@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.eot');
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype'),
         url('../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;

} 

/************ ESTILOS ***********/
section{ 
	font-family:'arialregular';
}


#botones a{
	color:#fff;
	display:inline-block;
}


#botones a:hover{color:#fff;
text-decoration:none;}


#botones a:link{
	color:#fff;
	text-decoration:none;
}


#botones a:active{
	color:#fff;
	text-decoration:none;
}


#botones a:visited{
	color:#fff;
	text-decoration:none;
}


#contenido-vad{
	text-align:center;
}


#botones{
	display:inline-block;
	text-align:center;
	float:initial;
	margin-top:5%;
}


/* Botones vademecum */

#nom-btn{
    display: inline-block;
    text-align: center;
    margin-top: 44%;
    font-size: 11px;
    font-family: 'arialregular';
}

#titulo-vad{
	color:white;
	margin-left:8px;
	margin-right:8px;
    display: inline-block;
    vertical-align: middle;
}

.border-vad{
	border-bottom: 2px solid #FFFFFF;
    padding-bottom: 0.5%;
    width: 6%;
    margin-left: 47%;
}

.border-vad-2{
	border-bottom: 2px solid #FFFFFF;
    padding-bottom: 0.5%;
    width: 5%;
}


.input-vad{
	width: 13vw;
    background: rgba(255,255,255,0.2);
    display: inherit;
    height: 3.5vh;
    border: 1px solid white;
	padding-left:5%;
	font-family:'arialregular';
	color:white;
	letter-spacing:2px;
	text-transform:uppercase;
}

.input-vad:focus{
	outline:none;
	border: 1px solid white;
}


#botonera-af{
	margin-bottom:60px;
}


.botonVademecum-Af{
	background:url(../img/vad-af-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}


.botonVademecum-Af:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-af-hover.png);
	background-repeat:no-repeat;
}


.outerLine-Af{
	width:105%;height:105%;
	background:url(../img/vad-af-aro-hover.png);
	background-size:95% 95%; background-position:center;background-repeat:no-repeat;
	transition: all 0.5s ease;
}


.botonVademecum-Af:hover .outerLine-Af{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


#botonera-ant{margin-bottom:60px;}


.botonVademecum-Ant{
	background:url(../img/vad-ant-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}



.botonVademecum-Ant:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-ant-hover.png);
	background-repeat:no-repeat;
}


.outerLine-Ant{
	width:105%;
	height:105%;
	background:url(../img/vad-ant-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}


.botonVademecum-Ant:hover .outerLine-Ant{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


#botonera-int{margin-bottom:60px;}


.botonVademecum-Int{
	background:url(../img/vad-int-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}


.botonVademecum-Int:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-int-hover.png);
	background-repeat:no-repeat;
}


.outerLine-Int{
	width:105%;
	height:105%;
	background:url(../img/vad-int-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Int:hover .outerLine-Int{
	transition: all 0.5s ease;
	background-size:100% 100%;
}

#botonera-ext{margin-bottom:60px;}
.botonVademecum-Ext{
	background:url(../img/vad-ext-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Ext:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-ext-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Ext{
	width:105%;
	height:105%;
	background:url(../img/vad-ext-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Ext:hover .outerLine-Ext{
	transition: all 0.5s ease;
	background-size:100% 100%;
}

#botonera-bio{margin-bottom:60px;}
.botonVademecum-Bio{
	background:url(../img/vad-bio-normal.png);
	width:158px;height:158px;
	transition:1s;;
}

.botonVademecum-Bio:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-bio-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Bio{
	width:105%;
	height:105%;
	background:url(../img/vad-bio-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Bio:hover .outerLine-Bio{
	transition: all 0.5s ease;
	background-size:100% 100%;
}

#botonera-ende{margin-bottom:60px;}
.botonVademecum-Ende{
	background:url(../img/vad-ende-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Ende:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-ende-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Ende{
	width:105%;
	height:105%;
	background:url(../img/vad-ende-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Ende:hover .outerLine-Ende{
	transition: all 0.5s ease;
	background-size:100% 100%;
}

#botonera-farma{margin-bottom:60px;}
.botonVademecum-Farma{
	background:url(../img/vad-farma-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Farma:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-farma-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Farma{
	width:105%;
	height:105%;
	background:url(../img/vad-farma-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition:1s;;
}

.botonVademecum-Farma:hover .outerLine-Farma{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


#botonera-nutri{
	margin-bottom:60px;
}


.botonVademecum-Nutri{
	background:url(../img/vad-nutri-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Nutri:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-nutri-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Nutri{
	width:105%;
	height:105%;
	background:url(../img/vad-nutri-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Nutri:hover .outerLine-Nutri{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


#botonera-repro{
	margin-bottom:60px;
}


.botonVademecum-Repro{
	background:url(../img/vad-repro-normal.png);
	width:158px;
	height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Repro:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-repro-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Repro{
	width:105%;
	height:105%;
	background:url(../img/vad-repro-aro-hover.png);
	background-size:95% 95%; background-position:center;background-repeat:no-repeat;
	transition: all 0.5s ease;
}



.botonVademecum-Repro:hover .outerLine-Repro{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


#botonera-amb{
	margin-bottom:60px;
}


.botonVademecum-Sal-Amb{
	background:url(../img/vad-sal-amb-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Sal-Amb:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-sal-amb-hover.png);
	background-repeat:no-repeat;
}

.outerLine-Sal-Amb{
	width:105%;
	height:105%;
	background:url(../img/vad-sal-amb-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Sal-Amb:hover .outerLine-Sal-Amb{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


#botonera-vit-min{
	margin-bottom:60px;
}

.botonVademecum-Vit-Min{
	background:url(../img/vad-vit-normal.png);
	width:158px;height:158px;
	transition: all 0.5s ease;
}

.botonVademecum-Vit-Min:hover{
	transition: all 0.5s ease;
	background:url(../img/vad-vit-min-hover.png);
}

.outerLine-Vit-Min{
	width:105%;
	height:105%;
	background:url(../img/vad-vit-min-aro-hover.png);
	background-size:95% 95%; 
	background-position:center;
	background-repeat:no-repeat;
	transition: all 0.5s ease;
}

.botonVademecum-Vit-Min:hover .outerLine-Vit-Min{
	transition: all 0.5s ease;
	background-size:100% 100%;
}


/* Termina botones vademecum */


#botonera-buscar{
    font-family: arialregular;
    display: inline-block;
    text-align: center;
    padding-top: 6%;
    width: 21%;
    margin-left: 1%;
}


.form-control{
	color:#fff;
	opacity:0.2;
	border:#fff thin solid;
}


.btn-palabra{
	border:#fff solid thin;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
}


#btn-buscar{
	background-image:url(../img/lupa-2-01.png);
	width:44px;	
	height:48px;
	border:none;
	background-color:transparent;
    margin-top: -17%;
    margin-left: 10%;
}

#btn-buscar:focus{
	outline:none;
	border:none;
}