

/*--------------------------------------------------------------------------------- CSS  INFORMACIÓN TÉCNICA ------------------------------------------------------*/

/************ FONTS ***********/
@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.eot');
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype'),
         url('../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 


/************ ESTILOS ***********/
#info-tec{
background: rgb(129, 206, 231);
color:white;
}

.right{
	margin-right:8px;
}

.left{
	margin-left:8px;
}


#titulo-info{
	text-align:center;
    padding-top: 3%;
	font-family:'arialregular';
}


#list-menu{
	list-style:none;
	margin-top:7%;
	
}


#list-menu li a{
	background:rgba(255, 255, 255, 0.3);
	color:#2988AF;
	padding:7px;
	font-weight:bold;
	display:inline-block;
	font-family: 'arialregular';
	
	text-align:center;
	
	transition: all 0.4s ease
}


#list-menu li a:hover{
	background:none;
	color:#fff;
	transition: all 0.4s ease
}


#border-menu{
	display:inline-block;
	text-align:left;
	padding-left:4%;
	margin-top:1%;
	box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.42);
    margin-left: 4%;
    margin-bottom: 3%;
    border: 1px solid rgba(87, 87, 87, 0.18);
    width: 70%;
}


#opcion2{
	margin-left:-3%;
}


#opcion3{
	margin-left:-3%;
}


#border-menu img{
	width:73%;
}


#noticias-trabajos{
	padding-left:4%;
}

#noticias-planes{
	padding-left:4%;
	margin-top:3%;
	font-family:'arialregular';

}
	

#noticias-planillas{
	padding-left:4%;
	margin-top:3%;
	font-family:'arialregular';
}


#texto{
	font-family: 'arialregular';
    margin-right: 5%;
    
    text-align: left;
}


#fecha-info-tec{
	font-family: 'arialregular';
	border-bottom:#fff solid thin;
	display:inline-block;
}


#fecha-num{
	font-size:49px;
}


#titulo-info-tec{
	font-family: 'arialregular';
	font-weight:bold;
	margin-top:0;
	margin-top:5%;
}


#protocolo-info-tec{
	font-weight:bold;
	font-size:13.5px;
	letter-spacing:1px;
	line-height:18px;
	margin-top:-2%;
}


#leer-mas{
	font-family: 'arialregular';
	font-weight:bold;
	font-size:16px;
}


#btn-mas{
	display:inline-block;
	text-align:center;
	
}


#resumen-noticias{
	margin-top:-3%;
}


#texto-btn-mas{
	font-family: 'arialregular';
	font-size:17px;
	padding-top:2%;
}


.info-rev{
    margin-left: -26%;
}


.b-l{
	margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 61%;
}

. #border-menu{
	display:inline-block;
	text-align:left;
	padding-left:4%;
	margin-top:1%;
	box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.42);
    margin-left: 4%;
    margin-bottom: 3%;
    border: 1px solid rgba(87, 87, 87, 0.18);
    width: 70%;
}




#archivos-descargas{
	margin-left:3%;
}


#titulo-archivo{
	display:inline-block;
	font-family: 'arialregular';
	margin-left:-4%;
	margin-top:-2%;
	width:62%;
	font-size:20px;
	letter-spacing:1px;
}


#descarga-link{
	display:inline-block;
	font-family: 'arialregular';
	margin-left:-4%;
}


#descarga-margin{
	margin-bottom: 10%;
}

.img-d{
	width: 18%;
    margin-right: 8%;
}

#img-btn-mas:hover{
	cursor:pointer;
}