

/*--------------------------------------------------------------------------------- CSS CARROUSEL ------------------------------------------------------*/


/************ FONTS ***********/
@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.eot');
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype'),
         url('../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 


/************ ESTILOS ***********/
#slider1 {
    min-height: 30vh;
    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
	background-size: 100% auto;
	margin-left:0%;
	
}

#slider1 .viewport {
    min-height: 205px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
    display: block;
    position: absolute;
    top: 35%;
    left: 9px;
    width: 48px;
    height: 48px;
    color: #359FBD;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 35%;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
	top: -8px;
}

#slider1 .overview li {
    float: left;
    margin: 10px 20px 0 0;
    padding: 1px;
    height: 190px;
    border: 1px solid #359FBD;
    width: 425px;
	max-width:67vw;
 }
 
 #slider1 .overview li img{
	position:absolute;
 }

/* estilos personalizados*/

.fech-rev{
	color:#fff;
	position:relative;
	text-align:left;
	padding-bottom:1%;
	margin-top:2%;
    
}


.border{
    border-bottom: 2px solid white;
    padding-bottom: 1%;
    margin-left: 44%;
    width: 10%;
}

.border-2{
    border-bottom: 2px solid white;
    padding-bottom: 1%;
    width: 10%;
}


.tit-rev{
	color:#fff;
    
	position:relative;
	text-align:left;
	padding-bottom:1%;
	font-family: 'arialregular';
	font-size: 16px;
    font-weight: 700;
}


.desc-rev{
	color:#fff;
	font-size:13px;
	text-align:left;
	
	width:50%;
	position:relative;
	padding-bottom:1%;
	margin-top:2%;
	padding-right:2%;
}


#ver-revista{
    padding-left: 7%;
}


#info-revista{
	margin-top:2%;
	margin-left:5%;
	color:#8c8c8c;
}

#info-revista p{
    margin-left: 0%;
    font-size: 17px;
}

#info-revista h1{
	color:#359FBD;
	font-family: 'arialregular';
}

#p-3{
	width:69%;
	font-size:15px;
}


#img-rev{
	width:36%;
    box-shadow: 2px 2px 20px;
}


.border-tit{
	border-bottom: 2px solid #359FBD;
}


#btn-rev{
	color:#fff;
	font-family: 'arialregular';
    font-size: 17px;
    letter-spacing: 1px;
	opacity:1;
	background:#359FBD;
	border:none;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    height: 3.5vw;
    width: 36%;
    margin-top: 60px;
	transition: all 0.6s ease;
}

#btn-rev:hover{
    border: 2px solid #359FBD;
    background: transparent;
    color: #359FBD;
	transition: all 0.6s ease;
}

p{
	font-family:'arialregular';
    line-height: 30px;
    letter-spacing: 1px;
} 

#p-1{
    width: 100%;
}


#p-2{
    margin-top: 10%;
    font-size: 12.5px;
    margin-bottom: -1.5%;
}

#h2-1{
    font-size: 23px;
}


.rev-30{
	background-image:url(../img/30-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-30:hover{
	background-image:url(../img/30-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}


.rev-29{
	background-image:url(../img/29-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-29:hover{
	background-image:url(../img/29-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}

.rev-28{
	background-image:url(../img/28-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-28:hover{
	background-image:url(../img/28-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}


.rev-27{
	background-image:url(../img/27-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-27:hover{
	background-image:url(../img/27-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-26{
	background-image:url(../img/26-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-26:hover{
	background-image:url(../img/26-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-25{
	background-image:url(../img/25-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-25:hover{
	background-image:url(../img/25-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-24{
	background-image:url(../img/24-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-24:hover{
	background-image:url(../img/24-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-23{
	background-image:url(../img/23-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-23:hover{
	background-image:url(../img/23-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-22{
	background-image:url(../img/22-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-22:hover{
	background-image:url(../img/22-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-21{
	background-image:url(../img/21-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-21:hover{
	background-image:url(../img/21-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-20{
	background-image:url(../img/20-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-20:hover{
	background-image:url(../img/20-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-19{
	background-image:url(../img/19-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-19:hover{
	background-image:url(../img/19-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-18{
	background-image:url(../img/18-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-18:hover{
	background-image:url(../img/18-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-17{
	background-image:url(../img/17-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-17:hover{
	background-image:url(../img/17-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-16{
	background-image:url(../img/16-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-16:hover{
	background-image:url(../img/16-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}



.rev-15{
	background-image:url(../img/15-147x188-desaturada.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;	
	z-index: 2;
}


.rev-15:hover{
	background-image:url(../img/15-147x188.png);
    background-repeat: no-repeat;
    height: 188px;
    background-size: cover;
	transition: all 0.5s ease;
}

.rev-30,.rev-29,.rev-28,.rev-27,.rev-26,.rev-25,.rev-24,.rev-23,.rev-22,.rev-21,.rev-20,.rev-19,.rev-18,.rev-17,.rev-16,.rev-15,.rev-30:hover,.rev-29:hover,.rev-28:hover,.rev-27:hover,.rev-26:hover,.rev-25:hover,.rev-24:hover,.rev-23:hover,.rev-22:hover,.rev-21:hover,.rev-20:hover,.rev-19:hover,.rev-18:hover,.rev-17:hover,.rev-16:hover,.rev-15:hover{
	height:100%;
	width:30%;
	display:inline-block;
	background-size: auto 100%;
	overflow:hidden;
	
}

.overview .info-rev{
	height:100%;
	width:60%;
	display:inline-block;
	overflow:hidden;
	padding:0;
	margin:0;
}

.mirrored{
display:none;
}